{% extends 'base.html.twig' %}

{% block title 'Dodawanie newsa' %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'add_news', 'autocomplete': 'off', 'novalidate': 'false'}}) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dodaj news</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                {{ form_label(form.preview, label|default(null), {'label_attr': {'class': ''}}) }}
                {{ form_widget(form.preview, {'attr': {'placeholder': 'zajawka', 'class': 'form-control'}}) }}
                {{ form_errors(form.preview) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content, label|default(null), {'label_attr': {'class': ''}}) }}
                {{ form_widget(form.content, {'attr': {'placeholder': 'treść', 'class': 'form-control'}}) }}
                {{ form_errors(form.content) }}
            </div>
            <div class="form-group">
                {{ form_label(form.important, label|default(null), {'label_attr': {'class': ''}}) }}
                {{ form_widget(form.important, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.important) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
                {{ form_widget(form._token) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}